doctype html
html(lang='id')
    head
        include adm/layout/header.pug
        title= title
    body.page-body.page-error-env(data-url='http://tanjungpinangkota.go.id')
        include adm/layout/404.pug
        include adm/layout/js.pug