doctype html
html(lang='id')
    head
        include header.pug
        title= title
    body.page-body(data-url='http://tanjungpinangkota.go.id')
        include navbar2.pug
        .page-container
            .container
                include ../mod/mod-carousel-besar.pug
                .main-content
                    block content
                    include footer.pug
            include chat.pug
        include chat-sticky.pug
        include js.pug