// Imported styles on this page
link(rel='stylesheet', href=base_url+'adm-assets/js/datatables/dataTables.bootstrap.css')
link(rel='stylesheet', href=base_url+'adm-assets/css/fonts/meteocons/css/meteocons.css')
link(rel='stylesheet', href=base_url+'adm-assets/css/fonts/elusive/css/elusive.css')
link(rel='stylesheet', href=base_url+'adm-assets/js/wysihtml5/src/bootstrap-wysihtml5.css')
link(rel='stylesheet', href=base_url+'adm-assets/js/uikit/vendor/codemirror/codemirror.css')
link(rel='stylesheet', href=base_url+'adm-assets/js/uikit/uikit.css')
link(rel='stylesheet', href=base_url+'adm-assets/js/uikit/css/addons/uikit.almost-flat.addons.min.css')
link(rel='stylesheet', href=base_url+'adm-assets/js/daterangepicker/daterangepicker-bs3.css')
link(rel='stylesheet', href=base_url+'adm-assets/js/select2/select2.css')
link(rel='stylesheet', href=base_url+'adm-assets/js/select2/select2-bootstrap.css')
link(rel='stylesheet', href=base_url+'adm-assets/js/multiselect/css/multi-select.css')
link(rel='stylesheet', href=base_url+'adm-assets/js/dropzone/css/dropzone.css')
// Bottom Scripts
script(src=base_url+'adm-assets/js/bootstrap.min.js')
script(src=base_url+'adm-assets/js/TweenMax.min.js')
script(src=base_url+'adm-assets/js/resizeable.js')
script(src=base_url+'adm-assets/js/joinable.js')
script(src=base_url+'adm-assets/js/xenon-api.js')
script(src=base_url+'adm-assets/js/xenon-toggles.js')
script(src=base_url+'adm-assets/js/datatables/js/jquery.dataTables.min.js')
script(src=base_url+'adm-assets/js/wysihtml5/lib/js/wysihtml5-0.3.0.js')
// Imported scripts on this page
script(src=base_url+'adm-assets/js/jvectormap/jquery-jvectormap-1.2.2.min.js')
script(src=base_url+'adm-assets/js/jvectormap/regions/jquery-jvectormap-world-mill-en.js')
script(src=base_url+'adm-assets/js/xenon-widgets.js')
script(src=base_url+'adm-assets/js/datatables/dataTables.bootstrap.js')
script(src=base_url+'adm-assets/js/datatables/yadcf/jquery.dataTables.yadcf.js')
script(src=base_url+'adm-assets/js/datatables/tabletools/dataTables.tableTools.min.js')
script(src=base_url+'adm-assets/js/jquery-validate/jquery.validate.min.js')
script(src=base_url+'adm-assets/js/wysihtml5/src/bootstrap-wysihtml5.js')
script(src=base_url+'adm-assets/js/uikit/vendor/codemirror/codemirror.js')
script(src=base_url+'adm-assets/js/uikit/vendor/marked.js')
script(src=base_url+'adm-assets/js/uikit/js/uikit.min.js')
script(src=base_url+'adm-assets/js/uikit/js/addons/htmleditor.min.js')
script(src=base_url+'adm-assets/js/ckeditor/ckeditor.js')
script(src=base_url+'adm-assets/js/ckeditor/adapters/jquery.js')
script(src=base_url+'adm-assets/js/daterangepicker/daterangepicker.js')
script(src=base_url+'adm-assets/js/datepicker/bootstrap-datepicker.js')
script(src=base_url+'adm-assets/js/timepicker/bootstrap-timepicker.min.js')
script(src=base_url+'adm-assets/js/colorpicker/bootstrap-colorpicker.min.js')
script(src=base_url+'adm-assets/js/select2/select2.min.js')
script(src=base_url+'adm-assets/js/jquery-ui/jquery-ui.min.js')
script(src=base_url+'adm-assets/js/selectboxit/jquery.selectBoxIt.min.js')
script(src=base_url+'adm-assets/js/tagsinput/bootstrap-tagsinput.min.js')
script(src=base_url+'adm-assets/js/typeahead.bundle.js')
script(src=base_url+'adm-assets/js/handlebars.min.js')
script(src=base_url+'adm-assets/js/multiselect/js/jquery.multi-select.js')
script(src=base_url+'adm-assets/js/dropzone/dropzone.min.js')
script(src=base_url+'adm-assets/js/owlcarousel/owl.carousel.min.js')
// JavaScripts initializations and stuff
script(src=base_url+'adm-assets/js/xenon-custom.js')