.navbar1.hidden-xs
    .container
        a.tombol-navbar(href='#')
            i.el-phone
            |   +62 771 - 123 456
        a.tombol-navbar(href='#')
            i.el-mail
            |   kominfo@tanjungpinangkota.go.id
        a.tombol-navbar.pull-right(href=base_url+'pages-hubungi-kami')
            |   Hubungi Kami 
            i.el-comment
nav.navbar.horizontal-menu.navbar-fixed-top.navbar-minimal.navbar2(data-spy='affix', data-offset-top='25')
    // set fixed position by adding class "navbar-fixed-top"
    .navbar-inner.container
        // Navbar Brand
        .navbar-brand
            a.logo(href=base_url)
                img.hidden-xs(src=base_url+'images/logo_title_w_icon_200.png', width='200', alt='')
                img.visible-xs(src=base_url+'adm-assets/images/logo@2x.png', width='80', alt='')
        // Mobile Toggles Links
        .nav.navbar-mobile
            // This will toggle the mobile menu and will be visible only on mobile devices
            .mobile-menu-toggle
                // This will open the popup with user profile settings, you can use for any purpose, just be creative
                //a(href='#', data-toggle='settings-pane', data-animate='true')
                    i.linecons-cog
                //a(href='#', data-toggle='user-info-menu-horizontal')
                    i.fa-bell-o
                    span.badge.badge-success 7
                // data-toggle="mobile-menu-horizontal" will show horizontal menu links only
                // data-toggle="mobile-menu" will show sidebar menu links only
                // data-toggle="mobile-menu-both" will show sidebar and horizontal menu links
                a(href='#', data-toggle='mobile-menu-horizontal')
                    i.fa-bars
        .navbar-mobile-clear
        // main menu
        ul.navbar-nav.navbar-right.click-to-expand
            li.active
                a(href=base_url)
                    i.linecons-home
                    span.title Beranda
            li
                a(href='#')
                    i.linecons-user
                    span.title Profil
                ul
                    li
                        a(href=base_url+'pages-profil')
                            span.title Selayang Pandang
                    li
                        a(href=base_url+'pages-visimisi')
                            span.title Visi dan Misi
                    li
                        a(href=base_url+'pages-lambangmoto')
                            span.title Lambang dan Motto
                    li
                        a(href=base_url+'pages-kepaladaerah')
                            span.title Kepala Daerah
                    li
                        a(href=base_url+'pages-strukturorg')
                            span.title Struktur Organisasi
            li
                a(href=base_url+'berita')
                    i.linecons-note
                    span.title Berita
            li
                a(href=base_url+'gallery')
                    i.linecons-note
                    span.title Gallery
            li
                a(href=base_url+'pages-aksidaerah')
                    i.linecons-note
                    span.title Aksi Daerah PPK
            li
                a(href='http://siru.lkpp.go.id', target='_blank')
                    i.linecons-note
                    span.title RUP 2018
            li
                a(href='#')
                    i.linecons-params
                    span.title Data
                ul
                    li
                        a(href=base_url+'data-opd')
                            span.title Data Unit Kerja
                    li
                        a(href=base_url+'data-peg')
                            span.title Data Pegawai
                    li
                        a(href=base_url+'download-area')
                            span.title Download Area
            li
                a(href='')
                    i.linecons-diamond
                    span.title Layanan
                ul
                    li
                        a(href='ui-widgets.html')
                            i.linecons-star
                            span.title Widgets
                    li
                        a(href='mailbox-main.html')
                            i.linecons-mail
                            span.title Mailbox
                            span.label.label-success.pull-right 5
                        ul
                            li
                                a(href='mailbox-main.html')
                                    span.title Inbox
                            li
                                a(href='mailbox-compose.html')
                                    span.title Compose Message
                            li
                                a(href='mailbox-message.html')
                                    span.title View Message
                    li
                        a(href='tables-basic.html')
                            i.linecons-database
                            span.title Tables
                        ul
                            li
                                a(href='tables-basic.html')
                                    span.title Basic Tables
                            li
                                a(href='tables-responsive.html')
                                    span.title Responsive Table
                            li
                                a(href='tables-datatables.html')
                                    span.title Data Tables
                    li
                        a(href='extra-gallery.html')
                            i.linecons-beaker
                            span.title Extra
                            span.label.label-purple.pull-right.hidden-collapsed New Items
                        ul
                            li
                                a(href='extra-icons-fontawesome.html')
                                    span.title Icons
                                ul
                                    li
                                        a(href='extra-icons-fontawesome.html')
                                            span.title Font Awesome
                                    li
                                        a(href='extra-icons-linecons.html')
                                            span.title Linecons
                                    li
                                        a(href='extra-icons-elusive.html')
                                            span.title Elusive
                                    li
                                        a(href='extra-icons-meteocons.html')
                                            span.title Meteocons
                            li
                                a(href='extra-maps-google.html')
                                    span.title Maps
                                ul
                                    li
                                        a(href='extra-maps-google.html')
                                            span.title Google Maps
                                    li
                                        a(href='extra-maps-advanced.html')
                                            span.title Advanced Map
                                    li
                                        a(href='extra-maps-vector.html')
                                            span.title Vector Map
                            li
                                a(href='extra-members-list.html')
                                    span.title Members
                                    span.label.label-warning.pull-right New
                                ul
                                    li
                                        a(href='extra-members-list.html')
                                            span.title Members List
                                    li
                                        a(href='extra-members-add.html')
                                            span.title Add Member
                            li
                                a(href='extra-gallery.html')
                                    span.title Gallery
                            li
                                a(href='extra-calendar.html')
                                    span.title Calendar
                            li
                                a(href='extra-profile.html')
                                    span.title Profile
                            li
                                a(href='extra-login.html')
                                    span.title Login
                            li
                                a(href='extra-lockscreen.html')
                                    span.title Lockscreen
                            li
                                a(href='extra-login-light.html')
                                    span.title Login Light
                            li
                                a(href='extra-timeline.html')
                                    span.title Timeline
                            li
                                a(href='extra-timeline-center.html')
                                    span.title Timeline Centerd
                            li
                                a(href='extra-notes.html')
                                    span.title Notes
                            li
                                a(href='extra-image-crop.html')
                                    span.title Image Crop
                            li
                                a(href='extra-portlets.html')
                                    span.title Portlets
                            li
                                a(href='blank-sidebar.html')
                                    span.title Blank Page
                            li
                                a(href='extra-search.html')
                                    span.title Search
                            li
                                a(href='extra-invoice.html')
                                    span.title Invoice
                            li
                                a(href='extra-not-found.html')
                                    span.title 404 Page
                            li
                                a(href='extra-tocify.html')
                                    span.title Tocify
                            li
                                a(href='extra-loader.html')
                                    span.title Loading Progress
                            li
                                a(href='extra-page-loading-ol.html')
                                    span.title Page Loading Overlay
                            li
                                a(href='extra-notifications.html')
                                    span.title Notifications
                            li
                                a(href='extra-nestable-lists.html')
                                    span.title Nestable Lists
                            li
                                a(href='extra-scrollable.html')
                                    span.title Scrollable
                    li
                        a(href='charts-main.html')
                            i.linecons-globe
                            span.title Charts
                        ul
                            li
                                a(href='charts-main.html')
                                    span.title Chart Variants
                            li
                                a(href='charts-range.html')
                                    span.title Range Selector
                            li
                                a(href='charts-sparklines.html')
                                    span.title Sparklines
                            li
                                a(href='charts-map.html')
                                    span.title Map Charts
                            li
                                a(href='charts-gauges.html')
                                    span.title Circular Gauges
                            li
                                a(href='charts-bar-gauges.html')
                                    span.title Bar Gauges
                    li
                        a(href='#')
                            i.linecons-cloud
                            span.title Menu Levels
                        ul
                            li
                                a(href='#')
                                    i.entypo-flow-line
                                    span.title Menu Level 1.1
                                ul
                                    li
                                        a(href='#')
                                            i.entypo-flow-parallel
                                            span.title Menu Level 2.1
                                    li
                                        a(href='#')
                                            i.entypo-flow-parallel
                                            span.title Menu Level 2.2
                                        ul
                                            li
                                                a(href='#')
                                                    i.entypo-flow-cascade
                                                    span.title Menu Level 3.1
                                            li
                                                a(href='#')
                                                    i.entypo-flow-cascade
                                                    span.title Menu Level 3.2
                                                ul
                                                    li
                                                        a(href='#')
                                                            i.entypo-flow-branch
                                                            span.title Menu Level 4.1
                                    li
                                        a(href='#')
                                            i.entypo-flow-parallel
                                            span.title Menu Level 2.3
                            li
                                a(href='#')
                                    i.entypo-flow-line
                                    span.title Menu Level 1.2
                            li
                                a(href='#')
                                    i.entypo-flow-line
                                    span.title Menu Level 1.3
script(type='text/javascript').
    $('.navbar2').affix({
        offset: {
            top: $('.navbar2').offset().top
        }
    });