doctype html
html(lang='id')
    head
        include ../../adm/layout/header.pug
        title= title
    body(data-url='http://tanjungpinangkota.go.id')
        block content
        include ../../adm/layout/js.pug