doctype html
html(lang='id')
    head
        include ../adm/layout/header.pug
        title= title
    body.page-body.login-page(data-url='http://tanjungpinangkota.go.id')
        .login-container
            .row
                .col-sm-6
                    script(type='text/javascript').
                        jQuery(document).ready(function($)
                        {
                            // Reveal Login form
                            setTimeout(function(){ $(".fade-in-effect").addClass('in'); }, 1);


                            // Validation and Ajax action
                            $("form#login").validate({
                                rules: {
                                    username: {
                                        required: true
                                    },

                                    passwd: {
                                        required: true
                                    }
                                },

                                messages: {
                                    username: {
                                        required: 'Silakan Masukkan Username Anda.'
                                    },

                                    passwd: {
                                        required: 'Silakan Masukkan Password Anda.'
                                    }
                                },

                                // Form Processing via AJAX
                                submitHandler: function(form)
                                {
                                    show_loading_bar(70); // Fill progress bar to 70% (just a given value)

                                    var opts = {
                                        "closeButton": true,
                                        "debug": false,
                                        "positionClass": "toast-top-full-width",
                                        "onclick": null,
                                        "showDuration": "300",
                                        "hideDuration": "1000",
                                        "timeOut": "5000",
                                        "extendedTimeOut": "1000",
                                        "showEasing": "swing",
                                        "hideEasing": "linear",
                                        "showMethod": "fadeIn",
                                        "hideMethod": "fadeOut"
                                    };

                                    $.ajax({
                                        url: "#{base_url}auth",
                                        method: 'POST',
                                        dataType: 'json',
                                        data: {
                                            username: $(form).find('#username').val(),
                                            password: $(form).find('#passwd').val()
                                        },
                                        success: function(resp)
                                        {
                                            show_loading_bar({
                                                delay: .5,
                                                pct: 100,
                                                finish: function(){
                                                    toastr.success("Success", opts);
                                                    window.location.href = '#{base_url}adm';
                                                }
                                            });

                                        },
                                        error: function (data) {
                                            show_loading_bar({
                                                delay: .5,
                                                pct: 100,
                                                finish: function () {
                                                    console.log(data);
                                                    if (data.status === 200) {
                                                        toastr.success("Success", opts);
                                                        window.location.href = '#{base_url}adm';
                                                    } else {
                                                        toastr.error(data.responseText, opts);
                                                        $(form).find('#passwd').select();
                                                    }
                                                }
                                            });
                                        }
                                    });

                                }
                            });

                            // Set Form focus
                            $("form#login .form-group:has(.form-control):first .form-control").focus();
                        });
                    // Errors container
                    .errors-container
                    // Add class "fade-in-effect" for login form effect
                    form#login.login-form.fade-in-effect(method='post', role='form')
                        .login-header
                            a.logo(href=base_url)
                                img(src=base_url+'./images/Lambang_Kota_Tanjung_Pinang_GRA.png', alt='', width='80')
                                |   &nbsp;
                                span log in
                            p Silakan masukkan username dan password Anda di bawah ini.
                        .form-group
                            label.control-label(for='username') Username
                            input#username.form-control.input-dark(type='text', name='username', autocomplete='on')
                        .form-group
                            label.control-label(for='passwd') Password
                            input#passwd.form-control.input-dark(type='password', name='passwd', autocomplete='off')
                        .form-group
                            button.btn.btn-dark.btn-block.text-left(type='submit')
                                i.fa-lock
                                |   MASUK
                        .login-footer
                            a(href='#') Lupa Password?
                            .info-links
                                a(href='#') Ketentuan Layanan&nbsp;-&nbsp;
                                a(href='#') Kebijakan Privasi
        include ../adm/layout/js.pug