
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name='description', content='Website Resmi Dinas Komunikasi dan Informatika Kota Tanjungpinang')
meta(name='author', content='Aprinaldi')
link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic')
link(rel='stylesheet', href=base_url+'adm-assets/css/fonts/linecons/css/linecons.css')
link(rel='stylesheet', href=base_url+'adm-assets/css/fonts/entypo/css/entypo.css')
link(rel='stylesheet', href=base_url+'adm-assets/css/fonts/fontawesome/css/font-awesome.min.css')
link(rel='stylesheet', href=base_url+'adm-assets/less/bootstrap.css')
link(rel='stylesheet', href=base_url+'adm-assets/less/xenon.css')
script(src=base_url+'adm-assets/js/jquery-1.11.1.min.js')
script(src=base_url+'adm-assets/js/toastr/toastr.min.js')
//if lt IE 9
    script(src=base_url+'adm-assets/js/ie8-responsive-file-warning.js')
// HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
//if lt IE 9
    script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')