// Add "fixed" class to make the sidebar fixed always to the browser viewport.
// Adding class "toggle-others" will keep only one menu item open at a time.
// Adding class "collapsed" collapse sidebar root elements and show only icons.
.sidebar-menu.toggle-others.fixed
    .sidebar-menu-inner
        header.logo-env
            // logo
            .logo
                a.logo-expanded(href=base_url+'adm')
                    img(src=base_url+'images/logo_title_w_icon_200.png', width='200', alt='')
                a.logo-collapsed(href=base_url+'adm')
                    img(src=base_url+'images/lambang_40.png', width='40', alt='')
            // This will toggle the mobile menu and will be visible only on mobile devices
            .mobile-menu-toggle.visible-xs
                a(href='#', data-toggle='user-info-menu')
                    i.fa-bell-o
                    span.badge.badge-success 7
                a(href='#', data-toggle='mobile-menu')
                    i.fa-bars
        // Sidebar User Info Bar - Added in 1.3
        section.sidebar-user-info
            .sidebar-user-info-inner
                a.user-profile(href=base_url+'adm-setting-profile')
                    img.img-circle.img-corona.superadmin(src=base_url+'adm-assets/images/user-4.png', width='60', height='60', alt='user-pic')
                    strong Aprinaldi, S.Kom
                    span Super Admin
                ul.user-links.list-unstyled
                    li.profil-link
                        a(href=base_url+'adm-setting-profile', title='Edit profile')
                            i.linecons-user
                            |   Profil
                    li.pengaturan-link
                        a(href=base_url+'setting', title='Pengaturan')
                            i.entypo-cog
                            |   Pengaturan
                    li.logout-link
                        a(href='/logout', title='Log out')
                            i.fa-power-off
        ul#main-menu.main-menu
            // add class "multiple-expanded" to allow multiple submenus to open
            // class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active"
            li(class=(menu === 'adm' ? 'active' : ''))
                a(href=base_url+'adm')
                    i.entypo-gauge
                    span.title Dashboard
            li(class=(menu === 'adm-artikel-list' ? 'opened' : '' ? 'active' : ''))
                a(href='#')
                    i.entypo-pencil
                    span.title Artikel
                    span.badge.badge-secondary.pull-right 8
                ul
                    li(class=(menu === 'adm-artikel-list' ? 'active' : ''))
                        a(href=base_url+'adm-artikel-list')
                            i.entypo-list
                            span.title Data Artikel
                            span.badge.badge-secondary.pull-right 8
                    li(class=(menu === 'adm-artikel-tulis' ? 'active' : ''))
                        a(href=base_url+'adm-artikel-tulis')
                            i.entypo-pencil
                            span.title Tulis Artikel
                    li(class=(menu === 'adm-artikel-kategori' ? 'active' : ''))
                        a(href=base_url+'adm-artikel-kategori')
                            i.entypo-tag
                            span.title Kategori
                    li(class=(menu === 'adm-artikel-komentar' ? 'active' : ''))
                        a(href=base_url+'adm-artikel-komentar')
                            i.entypo-comment
                            span.title Komentar Artikel
                    li(class=(menu === 'adm-artikel-editor' ? 'active' : ''))
                        a(href=base_url+'adm-artikel-editor')
                            i.entypo-users
                            span.title Data Editor
            li
                a(href='layout-api.html')
                    i.entypo-flow-cascade
                    span.title Halaman
                ul
                    li
                        a(href='#')
                            i.entypo-flow-cascade
                            span.title Data Halaman
                        ul
                            li
                                a(href='#')
                                    i.entypo-flow-cascade
                                    span.title Data Halaman
                            li
                                a(href='#')
                                    i.entypo-pencil
                                    span.title Tulis Halaman
                    li
                        a(href='#')
                            i.entypo-flow-parallel
                            span.title Pengaturan Menu
            li
                a(href='#')
                    i.entypo-megaphone
                    span.title Siaran Pers
            li
                a(href='#')
                    i.entypo-calendar
                    span.title Kalender Event
            li
                a(href='#')
                    i.entypo-monitor
                    span.title Slideshow
            li(class=(menu === 'adm-aduan-list' ? 'opened' : '' ? 'active' : ''))
                a(href='#')
                    i.entypo-alert
                    span.title Aduan Masyarakat
                    span.badge.badge-danger.pull-right 20
                ul
                    li(class=(menu === 'adm-aduan-list' ? 'active' : ''))
                        a(href=base_url+'adm-aduan-list')
                            i.entypo-list
                            span.title Data Aduan
                            span.badge.badge-danger.pull-right 18
                    li
                        a(href='#')
                            i.entypo-reply
                            span.title Tanggapan
                    li
                        a(href='#')
                            i.entypo-tag
                            span.title Kategori Aduan
                    li
                        a(href='#')
                            i.entypo-users
                            span.title Data Operator Aduan
                    li
                        a(href='#')
                            i.entypo-cog
                            span.title Pengaturan Aduan
            li
                a(href='layout-api.html')
                    i.entypo-user
                    span.title Kepegawaian
                ul
                    li
                        a(href='layout-api.html')
                            i.entypo-users
                            span.title Data Pegawai
                    li
                        a(href='layout-collapsed-sidebar.html')
                            i.entypo-user-add
                            span.title Tambah Pegawai
                    li
                        a(href='layout-fixed-sidebar.html')
                            i.entypo-flight
                            span.title Mutasi Pegawai
                    li
                        a(href='layout-chat-open.html')
                            i.entypo-home
                            span.title Unit Kerja
            li(class=(menu === 'adm-member-list' ? 'opened' : '' ? 'active' : ''))
                a(href='layout-api.html')
                    i.entypo-users
                    span.title Member
                ul
                    li(class=(menu === 'adm-member-list' ? 'active' : ''))
                        a(href=base_url+'adm-member-list')
                            i.entypo-users
                            span.title Data Member
                    li
                        a(href='layout-collapsed-sidebar.html')
                            i.entypo-user-add
                            span.title Tambah Member
            li
                a(href='#')
                    i.entypo-camera
                    span.title Gallery
                ul
                    li(class=(menu === 'adm-gallery-gambar-list' ? 'opened' : '' ? 'active' : ''))
                        a(href=base_url+'adm-gallery-gambar-list')
                            i.entypo-picture
                            span.title Gambar
                        ul
                            li(class=(menu === 'adm-gallery-gambar-list' ? 'active' : ''))
                                a(href=base_url+'adm-gallery-gambar-list')
                                    i.entypo-box
                                    span.title Album Gambar
                            li
                                a(href='#')
                                    i.entypo-picture
                                    span.title Data Gambar
                ul
                    li
                        a(href='#')
                            i.entypo-video
                            span.title Video
                        ul
                            li
                                a(href='#')
                                    i.entypo-box
                                    span.title Album Video
                            li
                                a(href='#')
                                    i.entypo-video
                                    span.title Data Video
            li(class=(menu === 'adm-download-list' ? 'opened' : '' ? 'active' : ''))
                a(href='#')
                    i.entypo-archive
                    span.title Download Area
                ul
                    li(class=(menu === 'adm-download-list' ? 'active' : ''))
                        a(href=base_url+'adm-download-list')
                            i.entypo-docs
                            span.title Data File
                    li
                        a(href='#')
                            i.entypo-folder
                            span.title Kategori File
            li
                a(href='#')
                    i.entypo-archive
                    span.title Data
                ul
                    li
                        a(href='#')
                            i.entypo-home
                            span.title Data Unit Kerja
                    li
                        a(href='#')
                            i.entypo-link
                            span.title Pranala Luar
            li
                a(href='#')
                    i.entypo-book-open
                    span.title Buku Tamu
            li(class=(menu === 'adm-setting-profile' ? 'opened' : '' ? 'active' : ''))
                a(href='#')
                    i.entypo-cog
                    span.title Pengaturan
                ul
                    li
                        a(href=base_url+'adm-setting-profile')
                            i.entypo-users
                            span.title Pengaturan Profil
                    li
                        a(href='#')
                            i.entypo-layout
                            span.title Pengaturan Sistem
                    li
                        a(href='#')
                            i.entypo-database
                            span.title Backup Database
                    li
                        a(href='#')
                            i.entypo-alert
                            span.title Log Record
            li.visible-xs
                a(href='/logout')
                    i.entypo-logout
                    span.title KELUAR