.jarakNav
.owl-carousel.owl-theme
    img.img-responsive.owl-lazy(data-src=base_url+'images/bg/1.jpg', alt='Gedung Gonggong')
    img.img-responsive.owl-lazy(data-src=base_url+'images/bg/2.jpg', alt='')
    img.img-responsive.owl-lazy(data-src=base_url+'images/bg/3.jpeg', alt='')
    img.img-responsive.owl-lazy(data-src=base_url+'images/bg/4.jpg', alt='')
    img.img-responsive.owl-lazy(data-src=base_url+'images/bg/5.jpg', alt='')
script(type='text/javascript').
    $(document).ready(function(){
        $('.owl-carousel').owlCarousel({
            animateOut: 'fadeOut',
            items:1,
            lazyLoad:true,
            loop:true,
            margin:0,
            autoHeight:true,
            autoplay:true,
            autoplayTimeout:3000,
            autoplayHoverPause:true
        });
    });