
.page-title
    .title-env
        h1.title=title
        p.description=desc
    .breadcrumb-env
        ol.breadcrumb.bc-1
            li
                a(href=base_url)
                    i.fa-home
                    |   Dahsboard
            li
                a(href=base_url+'adm-member') Member
            li.active
                strong=title
.row
    .col-md-12
        .tabs-vertical-env
            ul.nav.tabs-vertical
                li.center
                    a.btn.disabled(href='#')
                        h4(style='margin-top:1px; margin-bottom:1px;font-weight:bold;')
                            |   DATA MEMBER
                li.active
                    a(href='#memberSemua', data-toggle='tab') Semua
                        span.badge.badge-blue.pull-right 36
                li
                    a(href='#memberSuper', data-toggle='tab') Super Admin
                        span.badge.badge-blue.pull-right 1
                li
                    a(href='#memberKepegawaian', data-toggle='tab') Adm. Kepegawaian
                        span.badge.badge-blue.pull-right 3
                li
                    a(href='#memberAdminPelaporan', data-toggle='tab') Adm. Pelaporan Masy.
                        span.badge.badge-blue.pull-right 2
                li
                    a(href='#memberOperatorPelaporan', data-toggle='tab') Op. Pelaporan Masy.
                        span.badge.badge-blue.pull-right 46
                li
                    a(href='#memberEmail', data-toggle='tab') Adm. Email
                        span.badge.badge-blue.pull-right 2
                li
                    a(href='#memberAdminPpid', data-toggle='tab') Adm. PPID
                        span.badge.badge-blue.pull-right 2
                li
                    a(href='#memberOperatorPpid', data-toggle='tab') PPID Pembantu
                        span.badge.badge-blue.pull-right 46
                li
                    a(href='#memberEditor', data-toggle='tab') Editor
                        span.badge.badge-blue.pull-right 3
                li
                    a(href='#memberAdminStatistik', data-toggle='tab') Adm. Statistik
                        span.badge.badge-blue.pull-right 2
                li
                    a(href='#memberOperatorStatistik', data-toggle='tab') Op. Statistik
                        span.badge.badge-blue.pull-right 46
                li
                    a(href='#memberBiasa', data-toggle='tab') Member Biasa
                        span.badge.badge-blue.pull-right 100
            .tab-content
                #memberSemua.tab-pane.active
                    include mod-member-list-semua.pug
                #memberSuper.tab-pane
                    include mod-member-list-super-admin.pug
                #memberKepegawaian.tab-pane
                    h4
                        |   Data User Admin Kepegawaian
                #memberAdminPelaporan.tab-pane
                    h4
                        |   Data User Admin Pelaporan Masyarakat
                #memberOperatorPelaporan.tab-pane
                    h4
                        |   Data User Operator Pelaporan Masyarakat
                #memberEmail.tab-pane
                    h4
                        |   Data User Admin E-Mail
                #memberAdminPpid.tab-pane
                    h4
                        |   Data User Admin PPID
                #memberOperatorPpid.tab-pane
                    h4
                        |   Data User PPID Pembantu
                #memberEditor.tab-pane
                    include mod-member-list-editor.pug
                #memberAdminStatistik.tab-pane
                    h4
                        |   Data User Admin Statistik Sektoral
                #memberOperatorStatistik.tab-pane
                    h4
                        |   Data User Operator Statistik Sektoral
                #memberBiasa.tab-pane
                    h4
                        |   Data User Member Biasa