
form.profile-post-form(method='post', action='')
    textarea.form-control.input-unstyled.input-lg.autogrow(placeholder="What's on your mind?")
    i.el-edit.block-icon
    ul.list-unstyled.list-inline.form-action-buttons
        li
            button.btn.btn-unstyled(type='button')
                i.el-camera
        li
            button.btn.btn-unstyled(type='button')
                i.el-attach
        li
            button.btn.btn-unstyled(type='button')
                i.el-mic
        li
            button.btn.btn-unstyled(type='button')
                i.el-music
    button.btn.btn-single.btn-xs.btn-success.post-story-button(type='submit') Post
hr
// User timeline stories
section.user-timeline-stories
    // Timeline Story Type: Status
    article.timeline-story
        i.fa-paper-plane.block-icon
        // User info
        header
            a.user-img(href='#')
                img.img-responsive.img-circle(src=base_url+'adm-assets/images/user-4.png', alt='user-img')
            .user-details
                a(href='#') Art Ramadani
                |   menulis 
                a(href='#') status
                time 12 hours ago
        .story-content
            // Story Content Wrapped inside Paragraph
            p Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare how cordial two promise. Greatly who affixed suppose but enquire compact prepare all put. Added forth chief trees but rooms think may.
            // Story Options Links
            .story-options-links
                a(href='#')
                    i.linecons-heart
                    |   Disukai 
                    span (3)
                a(href='#')
                    i.linecons-comment
                    |   Komentar 
                    span (5)
            // Story Comments
            ul.list-unstyled.story-comments
                li
                    .story-comment
                        a.comment-user-img(href='#')
                            img.img-circle.img-responsive(src=base_url+'adm-assets/images/user-2.png', alt='user-img')
                        .story-comment-content
                            a.story-comment-user-name(href='#')
                                |   Teguh Susanto
                                time 01 December 2014 - 17:54
                            p
                                |   Him these are visit front end for seven walls. Money eat scale now ask law learn.
                li
                    .story-comment
                        a.comment-user-img(href='#')
                            img.img-circle.img-responsive(src=base_url+'adm-assets/images/user-3.png', alt='user-img')
                        .story-comment-content
                            a.story-comment-user-name(href='#')
                                |   Eroll Maxhuni
                                time 04 November 2014 - 17:54
                            p
                                |   Taken no great widow spoke of it small. Genius use except son esteem merely her limits.
            form.story-comment-form(method='post', action='')
                textarea.form-control.input-unstyled.autogrow(placeholder='Balas...')
    hr
    // Timeline Story Type: Photos
    article.timeline-story
        i.fa-camera-retro.block-icon
        // User info
        header
            a.user-img(href='#')
                img.img-responsive.img-circle(src=base_url+'adm-assets/images/user-4.png', alt='user-img')
            .user-details
                a(href='#') Art Ramadani
                |   menambahkan 
                strong 3 gambar 
                |   pada album 
                a(href='#') Holiday Trip
                time a week ago
        .story-content
            .story-album
                .col-1
                    a(href='#')
                        img.img-responsive(src=base_url+'adm-assets/images/image-1.jpg', alt='album-image')
                .col-2
                    a.base-padding(href='#')
                        img.img-responsive(src=base_url+'adm-assets/images/image-2.jpg', alt='album-image')
                    .vspacer.v2
                    a(href='#')
                        img.img-responsive(src=base_url+'adm-assets/images/image-3.jpg', alt='album-image')
            // Story Options Links
            .story-options-links
                a.liked(href='#')
                    i.linecons-heart
                    |   Disukai 
                    span (2)
                a(href='#')
                    i.linecons-comment
                    |   Komentar 
                    span (0)
            form.story-comment-form(method='post', action='')
                textarea.form-control.input-unstyled.autogrow(placeholder='Balas...')
hr
script(type='text/javascript', src='//maps.google.com/maps/api/js?sensor=false')
script(type='text/javascript').
    function initialize()
    {
        var $ = jQuery,
            map_canvas = $("#sample-checkin");
        
        var location = new google.maps.LatLng(36.738888, -119.783013),
            map = new google.maps.Map(map_canvas[0], {
            center: location,
            zoom: 14,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            scrollwheel: false
        });
        
        var marker = new google.maps.Marker({
            position: location,
            map: map
        });
    }
    google.maps.event.addDomListener(window, 'load', initialize);