@color_1: #FFF;

/**
 * Owl Carousel v2.3.2
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 * 	Green theme - Owl Carousel CSS File
 */
.jarakNav{
	margin-top:53px;
	@media screen and (max-width: @screen-sm){
		margin-top:20px;
	}
}
.owl-theme {
	.owl-nav {
		margin-top: 0px;
		text-align: center;
		-webkit-tap-highlight-color: transparent;
		[class*='owl-'] {
			color: @color_1;
			font-size: 14px;
			margin: 5px;
			padding: 4px 7px;
			background: @main-text-color;
			display: inline-block;
			cursor: pointer;
			border-radius: 3px;
			&:hover {
				background: @xe-red;
				color: @color_1;
				text-decoration: none;
			}
		}
		.disabled {
			opacity: 0.5;
			cursor: default;
		}
	}
	.owl-nav.disabled {
		&+.owl-dots {
			margin-top: 0px;
		}
	}
	.owl-dots {
		text-align: center;
		-webkit-tap-highlight-color: transparent;
		.owl-dot {
			display: inline-block;
			zoom: 1;
			*display: inline;
			span {
				width: 5px;
				height: 5px;
				margin: 2px 5px;
				background: @main-text-color;
				display: block;
				-webkit-backface-visibility: visible;
				transition: opacity 200ms ease;
				border-radius: 30px;
			}
			&:hover {
				span {
					background: @xe-red;
				}
			}
		}
		.owl-dot.active {
			span {
				background: @xe-red;
			}
		}
	}
	.owl-item{
		max-height: 350px;
		min-height: 350px;
		.img-responsive{
			width:100%;
			object-fit: cover;
    		object-position: 50% 50%;
		}
	}
}
